*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

#blocks{
    display:flex;
    margin:10px;
    justify-content:space-between;
}

#blocks div{
    flex:0 0 100px;
    padding:40px 0;
    text-align:center;
    background:#ccc;
}

.one{order:3;}
.two{order:2;}
.three{order:1;}
.four{order:0;}

.flex-container{
    display:flex;
    background-color:white;
    flex-wrap:wrap;
    flex-flow:column;
    height:600px;
    /* Main axis */
    justify-content: center;
    /* Cross axis */
    align-items:center;  
}

.box{
    /* height:100px; */
    width:100px;
    /* min-width:500px; */
    /* flex-grow:1; */
    flex: 0 0 100px;
}

.one{
    background:red;
    /* flex-grow:2; */
    /* flex-shrink:1; */
    /* flex-basis:100px; */
}

.two{
    background:blue;
    /* flex-grow:3; */
    /* flex-shrink:2; */
    /* flex-basis:200px; */
}

.three{
    background:green;
    /* flex-grow:1; */
     /* flex-shrink:3; */
     /* flex-basis:300px; */
}

